<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Enable</key>
	<string></string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>334382432491-prltibd6vt4bvgoeepda5c46tdkp6sig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334382432491-prltibd6vt4bvgoeepda5c46tdkp6sig</string>
	<key>API_KEY</key>
	<string>AIzaSyCyLv7kqGc0iTu0egPP1O_JaXMDp4w92Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>334382432491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shitapps.QuikFix</string>
	<key>PROJECT_ID</key>
	<string>quikfix-d8081</string>
	<key>STORAGE_BUCKET</key>
	<string>quikfix-d8081.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:334382432491:ios:d9ef14f8f45ab0a0</string>
	<key>DATABASE_URL</key>
	<string>https://quikfix-d8081.firebaseio.com</string>
</dict>
</plist>
