<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>136937988698-koon7b33g4dbqjj31pu7cbb7sg6k3043.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136937988698-koon7b33g4dbqjj31pu7cbb7sg6k3043</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ30zvPb_2drgOWFBpokYNEgWF4z21k1w</string>
	<key>GCM_SENDER_ID</key>
	<string>136937988698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shitapps.QuikFix</string>
	<key>PROJECT_ID</key>
	<string>quikfix-49664</string>
	<key>STORAGE_BUCKET</key>
	<string>quikfix-49664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136937988698:ios:d9ef14f8f45ab0a0</string>
	<key>DATABASE_URL</key>
	<string>https://quikfix-49664.firebaseio.com</string>
</dict>
</plist>